<div class="m-auto" style="max-width: 700px">
  <div class="card m-4">
    <div class="card-body">
      <h1 class="card-title text-center mb-3">{{ course!.name }}</h1>
      <div class="m-4">
        <h6>Subject :</h6>
        <p>{{ course!.subject }}</p>
      </div>
      <div class="m-4">
        <h6>Category :</h6>
        <p>{{ course!.category }}</p>
      </div>
      <div class="m-4">
        <h6>Description :</h6>
        <p>{{ course!.description }}</p>
      </div>
      <div class="m-4">
        <h6>Start Date :</h6>
        <p>{{ course!.start | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div class="m-4">
        <h6>End Date :</h6>
        <p>{{ course!.end | date: 'dd/MM/yyyy'}}</p>
      </div>
      <div class="m-4">
        <h6>Number of students :</h6>
        <p>{{ course!.students }}</p>
      </div>
    </div>
  </div>
</div>
